.h5-style{
	font-family:"Courier New", Courier, monospace;
	font-size:16pt;
	font-weight:bold;
	color:#48FC48;
	position:absolute;
}

.lime{
	text-align: center;
	font-size: 30pt;
	font-family:"Courier", Courier, monospace;
	margin-top:5px;
	color:#48FC48;

}
.image{
	width:360px;
	height:360px;
	margin-left:475px;
	margin-top:75px;
}
.form-style{
	margin-top:50px;
	margin-left:375px;
}
.input{
	position:absolute;
	margin-left:150px;
	left:100px;
	color:#48FC48;
	background-color:black;
}
#info{
	background-color:black;
	margin-left:auto;
	margin-right:auto;
	margin-top:375px;
	height:950px;
	width:1320px;
	padding:0px;
}