.h5-style{
	font-family:"Courier New", Courier, monospace;
	font-size:16pt;
	font-weight:bold;
	color:black;
	position:absolute;
}
.image{
	width:360px;
	height:360px;
	margin-left:475px;
	margin-top:75px;
}
.form-style{
	margin-top:50px;
	margin-left:375px;
}
.input{
	position:absolute;
	margin-left:150px;
	left:100px;
}
#info{
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:375px;
	height:950px;
	width:1320px;
	padding:0px;
}