<settings>
  <General_Properties>
    <componentWidth value="1045"/>
    <componentHeight value="625"/>
    <assets value="categories3.xml"/>
    <style value="assets/css/style2.css"/>
    <skin value="assets/skins/skin3.xml"/>
    <orientation value="horizontal"/>
    <scrollAutoResize value="true"/>
    <showAbout value="true"/>
    <newsPerPage value="2"/>
    <spacing value="5"/>
    <marginTop value="4"/>
    <marginBottom value="55"/>
    <marginLeft value="11"/>
    <marginRight value="4"/>
  </General_Properties>
  <News_Properties>
    <backgroundColor value="0xf0f0f0"/>
    <backgroundAlpha value="0.1"/>
    <cornerRadius value="0"/>
    <borderColor value="0x290810"/>
    <borderAlpha value="0"/>
    <borderSize value="0"/>
    <datePadding value="3"/>
    <imagePadding value="3"/>
    <descriptPadding value="3"/>
    <paddingTop value="14"/>
    <paddingBottom value="15"/>
    <paddingLeft value="10"/>
    <paddingRight value="2"/>
    <embedFonts value="false"/>
  </News_Properties>
  <Animation_Properties>
    <newsToMove value="1"/>
    <tweenFunction value="Linear"/>
    <tweenMethod value="easeOut"/>
    <tweenTime value="1"/>
    <tweenBlurQty value="8"/>
  </Animation_Properties>
  <Background_Properties>
    <fillType value="linear"/>
    <backgroundImage value="assets/background2.png"/>
    <backgroundFitting value="repeat"/>
    <backgroundColor1 value="0x000000"/>
    <backgroundColor2 value="0x33cc00"/>
    <backgroundAlpha value="1"/>
    <bgCornerRadius value="5"/>
    <gradientRotation value="30"/>
    <gradientRatio value="40"/>
    <gradientPosX value="0"/>
    <gradientPosY value="0"/>
    <useShade value="false"/>
    <shadeColor value=""/>
    <shadeAlpha value="0"/>
    <shadeRatio value="0"/>
    <shadeWidth value="0"/>
    <shadeHeight value="0"/>
  </Background_Properties>
  <Shade_Properties>
    <useShade value="true"/>
    <shadeColor value="0x0066cc"/>
    <shadeAlpha value="0"/>
    <shadeRatio value="40"/>
    <shadeWidth value="0"/>
    <shadeHeight value="0"/>
  </Shade_Properties>
</settings>

