*{
	margin:0;
	padding:0;
}
.h1-style{
	text-align: center;
	table-layout: auto;
	font-size: 60pt;
	font-family: "Courier", Courier, monospace;
	margin-top: 25px;
}
.h2-style {
	text-align: center;
	font-size: 20pt;
	font-family:"Courier", Courier, monospace;
	margin-top:5px;
}
.h3-style {
	text-align:center;
	font-size:20pt;
	font-family:"Courier", Courier, monospace;
	margin-top:5px;
	color:black;
}
.h4-style{
	text-align: center;
	font-size: 35pt;
	font-family:"Courier", Courier, monospace;
	margin-top:5px;
	color:white;
}

.p-style{
	font-size: 12pt;
	font-family:"Courier", Courier, monospace;
	color:black;
	text-indent:12px;	
}
.href-style{
	position:absolute;
	font-family: "Courier", Courier, monospace;
	font-size: 16pt;
	font-weight:bold;
	color: white;
	margin-top: 35px;
	margin-left: 250px;
	margin-right: 0px;	
}
.body{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	text-align: center;
	background-color:black;
}
.halign{
	position:absolute;
	top:181px;
}

#centered{
	width: 900px;
	text-align: left;
	border: 0px;
	padding: 0;
	margin: 0 auto;
}
#homeButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 0px;
	margin-top: 5px;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/TopPageNavButton.png');
}
#homeCurrentButton {
	background-position: center;
	text-align:	center;
	font-size:30pt;
	width: 177px;
	height: 50px;
	margin-left: 0px;
	margin-top: 5px;
	text-decoration: underline;
	color: #48FC48;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/CurrentPageNavButton.png');
}

#newsButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 177px;
	margin-top: 5px;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/TopPageNavButton.png');
}
#newsCurrentButton {
	background-position: center;
	text-align:	center;
	width: 177px;
	height: 50px;
	margin-left: 177px;
	margin-top: 5px;
	text-decoration: underline;
	color: #48FC48;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/CurrentPageNavButton.png');
}

#forumButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 354px;
	margin-top: 5px;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/TopPageNavButton.png');
}
#forumCurrentButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 354px;
	margin-top: 5px;
	text-decoration: underline;
	color: #48FC48;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/CurrentPageNavButton.png');
}

#resButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 531px;
	margin-top: 5px;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/TopPageNavButton.png');
}
#resCurrentButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 531px;
	margin-top: 5px;
	text-decoration: underline;
	color: #48FC48;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/CurrentPageNavButton.png');
}

#aboutButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 708px;
	margin-top: 5px;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/TopPageNavButton.png');
}
#aboutCurrentButton {
	background-position: center;
	width: 177px;
	height: 50px;
	margin-left: 708px;
	margin-top: 5px;
	text-decoration: underline;
	color: #48FC48;
	font-family: 'Courier', Courier, monospace;
	background-image: url('Images/CurrentPageNavButton.png');
}

#sideNav {
	background-image:url('Images/SideNav.png');
	background-position: center;
	border: 2px solid white;
	height:800px;
	width: 177px;
	margin-top: 55px;
	color: #FFFFFF;
}
#title {
	background-image: url('Images/TitleBG.png');
	background-position: center;
	height:150px;
	width: 885px;
	border: 2px solid white;
	z-index: auto;
	margin-left: 0px;
	margin-top: 15px;
	color: #FFFFFF;
}
#newsReal{
	height: 300px;
	width: 695px;
	margin-left: 187px;
	margin-top: 55px;
	background-color: #000000;
	color:white;
}
#mission{
	height: 480px;
	width: 375px;
	margin-left: 190px;
	margin-top: 376px;
	background-color:lime;
	}
#bioScroll{
	background-image:url('Images/bioScroll.png');
	height: 480px;
	width: 300px;
	border: 2px solid white;
	margin-left: 575px;
	margin-top: 376px;
	color:white;
}
#bottmBox{
	height: 100px;
	width: 885px;
	margin-left: 0px;
	margin-top: 865px;
	background-color:black;
	color:white;
}
#about{
	height: 445px;
	width: 650px;
	margin-left: 192px;
	margin-top: 376px;
	background-color:white;
	padding: 20px;
}
#superDopeVidz{
	height: 300px;
	width: 360px;
	margin-left: 182px;
	margin-top: 55px;
	background-color: #000000;
	color:white;
}
#superDopeBooks{
	height: 300px;
	width: 330px;
	margin-left: 547px;
	margin-top: 55px;
	background-color: #000000;
	color:white;
}
#docMothaTrucka{
	height: 480px;
	width: 360px;
	margin-left: 182px;
	margin-top: 380px;
	background-color: #000000;
	color: white;
} 
#login{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 450px;
	border: 2px solid white;
	background-image: url('Images/Login.png');
	background-position: center;
	color: white;
}
.submit{
	position:absolute;
	margin-top: 38px;
	width: 100px;
	margin-left: 63px;
}
